body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffe6f0;
  color: #333;
}

header {
  text-align: center;
  padding: 30px 20px;
  background-color: #ff9ecf;
}

header h1 {
  margin-bottom: 10px;
}

main {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.post {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.post h2 {
  margin-top: 0;
}

.date {
  font-size: 0.9rem;
  color: #777;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #555;
}
.post img {
  margin-top: 10px;
}
#adminPanel {
  margin-top: 30px;
  padding: 20px;
  background: #fff0f6;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

#adminPanel.show {
  opacity: 1;
  transform: translateY(0);
}
